<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!--
    <ul>
      <li class="item">
        <ion-content>
          Serious privacy agreement :|
        </ion-content>
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="iagree_checked" />
        </label>
        I agree
      </li>
    </ul>
    -->
    Serious privacy agreement :|
    <ion-checkbox ng-model="iagree_checked">I Agree</ion-checkbox>
	<button class="button button-assertive button-block" ng-disabled="!iagree_checked"
            ng-click="authPopup();">
	  Google+ login
	</button>
  </ion-content>
</ion-modal-view>
