<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
    Serious privacy agreement :|
    <ion-checkbox ng-model="iagree_checked">I Agree</ion-checkbox>
	<button class="button button-assertive button-block ion-social-googleplus" ng-disabled="!iagree_checked"
            ng-click="authPopup();">
	  Google+ login
	</button>
  </ion-content>
</ion-modal-view>
